/*-------------------------------------------RESET Y GENERAL-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------HEADER-------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 0 20px;
    position: relative;  
    z-index: 5; /* bajo para que la burbuja esté encima */
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    font-size: 20px;
    margin-top: 15px;
    margin-right: 40px;
    text-decoration: none;
    color: #000000;
}

.logo img {
    width: 100px;
    height: auto;
}

/* ===== Botón hamburguesa ===== */
.hamburguesa { 
  font-size: 35px;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1000;
}

/* ===== Menú móvil oculto ===== */
.menu-mobile {
  position: absolute;
  top: 40px;
  right: 20px;
  background: transparent;
  border-radius: 10px;
  flex-direction: column;
  min-width: 150px;
  padding: 10px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  display: flex;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-mobile.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-mobile a {
  color: black;
  text-decoration: none;
  margin: 6px 0;
  font-weight: bold;
}


/* ===== Responsive ===== */
@media (max-width: 535px) {
  .menu-desktop { display: none; }
  .hamburguesa { display: block; }
}

/*-------------------------------------------BODY-------------------------------------------*/
body {
    background: linear-gradient(135deg, #e0c3fc, #8ec5fc, #f9f9f9);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-------------------------------------------HERO-------------------------------------------*/
.hero {
    position:relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* para estar por encima del header si se quiere */
}

.hero .contenido {
    position: relative;
    z-index: 11; /* contenido siempre encima de la burbuja */
    text-align: center;
}

.hero h1 {
    font-size: 45px;
}

.hero p {
    font-size: 25px;
}

/* Media queries para tablets y móviles */
@media (max-width: 900px) {
    .hero .contenido h1 {
        font-size: 36px;
    }
    .hero .contenido p {
        font-size: 20px;
    }
    .hero .contenido .boton {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .hero .contenido h1 {
        font-size: 28px;
    }
    .hero .contenido p {
        font-size: 16px;
    }
    .hero .contenido .boton {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .hero .contenido h1 {
        font-size: 24px;
    }
    .hero .contenido p {
        font-size: 14px;
    }
    .hero .contenido .boton {
        padding: 6px 12px;
        font-size: 12px;
    }
}
/*-------------------------------------------BURBUJA-------------------------------------------*/
.burbuja-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10; /* burbuja encima del header */
}

.burbuja-inner {
    animation: moverLiquido 12s ease-in-out infinite;
}

.fondo-liquido {
    width: 60vw;
    height: 60vw;
    max-width: 750px;
    max-height: 750px;
    background: radial-gradient(circle at 30% 30%, #a1c6ea, #f3ac9f, #f7f7f7);
    border-radius: 65% 35% 60% 40% / 55% 45% 30% 70%;
    filter: blur(1px);
    opacity: 0.8;
}

/* Animación */
@keyframes moverLiquido {
    0%, 100% {transform: translateY(0px) scale(1);}
    50% {transform: translateY(-20px) scale(1);}
}
@media (max-width: 768px) {
    .fondo-liquido {
        width: 70vw;
        height: 70vw;
        max-width: 600px;
        max-height: 600px;
    }
}

/* Celulares chicos */
@media (max-width: 480px) {
    .fondo-liquido {
        width: 85vw;
        height: 85vw;
        max-width: 420px;
        max-height: 420px;
    }
}
/*-------------------------------------------BOTONES Y TEXTO-------------------------------------------*/
h1 {
    font-size: 45px;
    color: #000000;
}

p {
    font-size: 23px;
    margin-bottom: 20px;
    color: #3b3b3b;
}

.boton {
    background-color: #ffb4a2;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #fcd5ce;
}

/*-------------------------------------------ACERCA DE MI-------------------------------------------*/
.contendor {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 50px;
}

.contendor img {
    max-width: 500px;
    height: auto;
    overflow: hidden;
    margin: 50px;
}

.texto {
    flex: 1;
    margin: 50px;
}

#sobremi p {
    font-size: 20px;
    color: #000000;
    margin-top: 15px;
}

@media (max-width: 1100px) {
    .contendor {
        flex-direction: column;
        text-align: center;

    }
    .contendor img{
        max-width: 60%;
        margin: 30px auto;
    }
    .texto {
        margin: 20px auto;
    }
}

/* Media query pantallas pequeñas (móvil) */
@media (max-width: 600px) {
    .contendor {
        flex-direction: column; /* texto arriba, img abajo */
        text-align:center;     /* centrado */
    }

    .contendor img {
        max-width: 80%; /* que no ocupe toda la pantalla */
        margin: 20px auto;
    }

    .texto {
        margin:20px auto;
    }
}
/*-------------------------------------------PROYECTOS-------------------------------------------*/
#proyectos {
    padding: 20px 10px;
    background-color: transparent;
    text-align: center;
}

#proyectos h2 {
    font-size:1.5rem;
    margin-bottom: 10px;
    color: #000000;
}

.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 90px;
}

.proyecto {
    flex: 0 0 300px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.proyecto:hover {
    transform: scale(1.05);
}

.proyecto img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

.proyecto p {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #444;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    #proyectos {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .carrusel {
        gap: 15px;
        padding-bottom: 70px;
    }
    .proyecto {
        flex: 0 0 250px; /* hace los proyectos un poco más chicos */
    }
}

/* Ajustes para móviles muy pequeños */
@media (max-width: 480px) {
    #proyectos {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .carrusel {
        gap: 10px;
        padding-bottom: 60px;
    }
    .proyecto {
        flex: 0 0 200px;
    }
}

/*-------------------------------------------CONTACTOS-------------------------------------------*/
.contenido-flex {
    display: flex;
    align-items:center;
    justify-content:center; 
    gap: 10px;
    margin: 0 10px;
}
.contenedorCon { 
    margin-left: 50px; 
} 
.contenedorCon p { 
    margin-top: 10px; 
    color: #000000; 
    font-size: 20px;
} 

form { 
    display: flex; 
    flex-direction: column; 
    max-width: 600px; 
    width: 90%;
    padding: 20px; 
    gap: 10px; 
    background-color: transparent; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px; 
    flex: 1; 
} 

form input, form textarea {
    width: 100%; /* ancho completo */
    padding: 10px 15px; /* espacio interno */ 
    font-size: 17px; /* texto más grande */ 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    font-family: inherit; 
} 

    #mensaje { 
    width: 100%; /* ancho del cuadro */ 
    min-height: 150px; /* altura inicial */ 
    padding: 12px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    resize: none; /* esto bloquea que el usuario cambie el tamaño */ 
}
form button { 
    padding: 12px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    background-color: #ffb4a2;
    color: #ffffff;
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
} 
form button:hover { 
    background-color: #fcd5ce; 
} 
.imgLog { 
    display: flex; 
    flex-direction:row;
    align-items: center; 
    justify-content: center;
}

.imgLog img {
    max-width: 200px; 
    height: auto; 
    margin: 50px; 
    transition: transform 0.3s ease; 
}
.imgLog img:hover { 
    transform: scale(1.1); /* zoom del 10% */ 
} 

.imgLog { display: flex; 
    align-items: center; 
    justify-content: center; 
    flex: 1; 
} 
.imgLog img { 
    max-width: 200px; 
    height: auto; 
    margin: 50px; 
    transition: transform 0.3s ease; 
} 
.imgLog img:hover {
    transform: scale(1.1); }

/* ===== Responsive ===== */
@media (max-width: 768px) {
    .contenido-flex {
        flex-direction: column; 
    }

    form {
        order: 1;
        margin-top:30px; 
        margin-right: 10px;
    }

    .imgLog {
        order: 2; 
        justify-content: center;
        margin-top: 30px;
    }

    .imgLog img {
        margin: auto;
        max-width: 160px;
    }
    .contenedorCon p h1{
        align-items: center;
        justify-content: center;
    }

    .contenedorCon h1,
    .contenedorCon h2,
    .contenedorCon p {
        text-align: center;
    }
}
